<form ng-submit="vm.save()">
    <div class="form-group">
        <label>Account owner</label>
        <input type="text" class="form-control" name="accountOwner" ng-model="vm.user.accountOwner" required />
    </div>

    <div class="form-group">
        <label>IBAN</label>
        <input type="text" class="form-control" name="iban" ng-model="vm.user.iban" required />
    </div>
</form>

<div id="wizard-navigation-container">
    <div class="pull-right">
        <button class="btn btn-default" name="previous" type="button" ng-click="vm.gotoStep(2)"><i class="fa fa-arrow-left"></i> Previous step</button>
        <button class="btn btn-success" name="next" type="submit"> <i class="fa fa-floppy-o"></i> Save</button>
    </div>
</div>